<div class="row">
  <div class="col-lg-10 col-lg-offset-1 text-xs-center">
    <div class="row text-xs-left">
      <h2>Sign up</h2>
    </div>
    <%= render partial: 'form', locals: {topic: @topic} %>
  </div>
</div>
