<div class="body-content">
  <div class="inner">
    <h2>What's Blocmarks?</h2>
    <h5 class="text-normal">A Social Bookmarking App With Email Integration</h5>
    <h6 class="text-normal"> Email, Manage and Share Bookmarked URLs</h6>
    <hr>
    <%= link_to "Get Started", new_user_registration_path, html_options = {class: "btn btn-primary-outline btn-xl"} %>
  </div>
</div>