@media(min-width:34em) {
    

    .inner-body .body-content {
        padding: 100px 50px 0px 50px;
    }

    .inner-body .body-content .inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    .inner-body .body-content .inner h1 {
        font-size: 53px;
    }

}